#forward-button, #reload-button, #alltabs-button {
	display: none !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
    display: none !important;
}

 :root {
  --tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

#urlbar {
opacity:1 !important;
}

#urlbar .urlbar-input-box {
opacity:1 !important;
}


#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

#TabsToolbar {
	visibility: collapse;
}
